<!-- /**
 *================================================================
 *File Name : footer.ejs
 *Author(s) : $Author: Thomastech $
 *Copyright © THOMAS TECHNOLOGY INC. All rights Reserved.
 *================================================================
 */ -->

<div class="container my-auto">
    <div class="copyright text-center my-auto">
        <span>Copyright © THOMAS TECHNOLOGY INC. All rights Reserved.</span>
    </div>
</div>