<!-- /**
 *================================================================
 *File Name : manual.ejs
 *Author(s) : $Author: Thomastech $
 *Copyright © THOMAS TECHNOLOGY INC. All rights Reserved.
 *================================================================
 */ -->

<!-- <li class="nav-item">
    <a class="nav-link" href="javascript:" onclick="showManual()">
        <i class="fas fa-fw fa-file-alt"></i>
        <span>画面説明</span>
    </a>
</li> -->
<script>
    function showManual() {
        window.open('https://toys.thomastech.jp/nialm/help/index.html', '', 'width=1000,height=550');
        return false;
    }

    function showCalculator() {
        window.open('https://toys.thomastech.jp/nialm/guide/chgculckwh.html', '', 'width=480,height=220');
        return false;
    }
</script>